.pokeContainer {
    margin: 40px auto;
    width: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pokeHeading {
    margin-top: 50px;
    text-align: center;
}

.pokeCard {
    width: 200px;
    text-align: center;
    margin: 20px;
}